@charset "UTF-8";

body {
    margin: 0;
}

.container {
    padding: 0px;
    box-sizing: border-box;
}

.top {
    background-color: whitesmoke;
    height: 400px;
    text-align: center;
    padding: 1px;
}

.middle {
    background-color: #3d576c;
    height: 120px;
    
}

.bottom {
    background-color: whitesmoke;
    height: 300px;
}

.footer {
    background-color:#3d576c;
    height: 100px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}